#jobs
{
    background: #f8f8fa;
    padding:100px;

}
.company-details
{
    box-shadow:0 2px 70px 0 rgba(110,130,208,.18);
    border-radius:5px;
    margin-bottom:5px ;
    
}
.job-update
{
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.job-update .fa
{
    margin-top: 5px;
    margin-right: 10px;
    color: #77d1b1;
}
.Description ul li
{
    margin-left:0px ;
}
.job-update small
{
    background: #efefef;
    padding:1px 5px;
    margin:0 5px;
}
.apply-btn
{
    height:40px;
    background-image: linear-gradient(to right, #6db9ef,#7ce08a);
    padding:7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.apply-btn .btn-primary
{
    padding:0 30px;
    float:right;
    border-radius:0;
    box-shadow:none !important;
    
    border:1px solid #fff;
}
.page-link li
{
    height:25px;
    width:25px;list-style:none;
    display:inline-block;
    cursor:pointer;
}
.page-link li:hover, .active
{
    color:#fff;
    background-image: linear-gradient(to right,#6db9ef,#7ce08a);
}