<div id="site-stats">
  <div class="container text-center">
    <h3>JOBSEARCH SITE STATS</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="stats-box">
              <i class="fas fa-users"></i><span><small>100k +</small></span>
              <p>Job Seekers</p>
            </div>
          </div>
          <div class="col-6">
            <div class="stats-box">
              <i class="fab fa-slideshare"></i><span><small>500 +</small></span>
              <p>Employers</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="stats-box">
              <i class="fas fa-hand-peace"></i><span><small>10k +</small></span>
              <p>Activate Jobs</p>
            </div>
          </div>
          <div class="col-6">
            <div class="stats-box">
              <i class="fas fa-building"></i><span><small>400 +</small></span>
              <p>Companies</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="app-banner" class="text-center">
    <h1>Find Jobs On Mobile,Jobsearch App</h1>
    <img src="./assets/images/app store.png" alt="app store" width="150px" height="100px">
    <img src="./assets/images/play store.png" alt="play store" width="150px" height="100px">
 
    <p>FOLLOW US</p>
  <a href="#"><img src="./assets/images/twitter.png" alt="Jobsearch logo" width="100px" height="100px"></a>
  <a href="#"><img src="./assets/images/facebook.svg" alt="Jobsearch logo" width="50px" height="50px"></a>
  <a href="#"><img src="./assets/images/whatsapp.png" alt="Jobsearch logo" width="60px" height="60px"></a>
  <a href="#"><img src="./assets/images/linkedin.png" alt="Jobsearch logo" width="50px" height="50px"></a>

</div>
  