    <div id="recruiters">
      <div class="container text-center">
        <h3>TOP COMPANIES</h3>
        <div>
          <img src="./assets/images/dell.svg" alt="dell logo" width="50px" height="50px">
          <img src="./assets/images/oracle.png" alt="oracle logo" width="100px" height="100px">
          <img src="./assets/images/cisco.jpg"  alt="cisco logo" width="100px" height="100px">
          <img src="./assets/images/netflix.jpg"  alt="netflix logo" width="70px" height="70px">
          <img src="./assets/images/amazon.png"  alt="amazon logo" width="70px" height="70px">
          <img src="./assets/images/tata.jpg"  alt="tata logo" width="50px" height="50px">
        </div>
        <div>
          <img src="./assets/images/infosys.png" alt="infosys logo" width="70px" height="70px">
          <img src="./assets/images/ibm.jpg" alt="ibm logo" width="40px" height="40px">
          <img src="./assets/images/byjus.png"  alt="byjus logo" width="70px" height="70px">
          <img src="./assets/images/microsoft.jpg"  alt="microsoft logo" width="100px" height="100px">
          <img src="./assets/images/mindtree.jpg"  alt="mindtree logo" width="70px" height="70px">
          <img src="./assets/images/sony.jpg"  alt="sony logo" width="70px" height="70px">
        </div>
        <div>
          <img src="./assets/images/genpact.png" alt="genpact logo" width="100px" height="100px">
          <img src="./assets/images/cognizant.png" alt="cognizant logo" width="100px" height="100px">
          <img src="./assets/images/flipkart.jpg"  alt="flipkart logo" width="70px" height="70px">
          <img src="./assets/images/wipro.png"  alt="wipro logo" width="70px" height="70px">
          <img src="./assets/images/capgemini.jpg"  alt="capgemini logo" width="100px" height="100px">
          <img src="./assets/images/accenture.jpg"  alt="accenture logo" width="100px" height="100px">
        </div>
      </div>
    </div>
  