<div id="jobs">
<div class="container">
<h5>RECENT UPDATES</h5>
<div class="company-details">
<div class="job-update">
  <h4><b>Software Engineer Trainee</b></h4>
  <p>Soft Suave Technologies Private Limited</p>
  <i class="fas fa-briefcase"></i><span>0-2 yrs</span><br>
  <i class="fas fa-rupee-sign"></i><span>3.50-4.00 LPA</span><br>
  <i class="fas fa-map-marker-alt"></i><span>Bangalore</span>
  <p>Skills:<small>C#</small><small>Software Developement</small><small>C++</small><small>Life Cycle</small><small>Software Engineer</small><small>C#.Net</small><small>Javascript</small><small>Programming</small><small>.Net Python</small></p>
  <div class=Description>
   <p>Description:</p>
   <ul>
     <li>Execute full software developement life cycle(SDLC).</li>
     <li>Code,test and troubleshoot programs utilizing the appropriate framework,database,and programming technology.</li>
     <li>Write quality and clean code using prescribed specifications.<a href="#">Read more</a>
     </li>
   </ul>
   </div>
</div>
<div class="apply-btn">
  <button type="button" class="btn btn-primary">Apply</button>
</div>
</div>

<div class="company-details">
<div class="job-update">
  <h4><b>Java Trainee</b></h4>
  <p>Hackett Group (India) Limited</p>
  <i class="fas fa-briefcase"></i><span>1-3 yrs</span><br>
  <i class="fas fa-rupee-sign"></i><span>3.00-4.00 LPA</span><br>
  <i class="fas fa-map-marker-alt"></i><span>Hyderabad/Secunderabad(WFH during Covid)</span>
  <p>Skills:<small>Core Java</small><small>C++</small><small>C++</small><small>C</small><small>J2Se</small><small>Programming</small><small>J2Ee</small><small>HTML</small><small>Oracle</small><small>SQL</small><small>Python</small></p>
  <div class=Description>
   <p>Description:</p>
   <ul>
     <li>Upskill in relevant Java technologies as per training plan and demonstrate effectiveness out of those trainings in form of POC,shadowing senior resource,delivering pilot projects.</li>
     <li>The candidte should also be willing to do independent research on the job.</li>
     <li>Capable of performing technical activities beyond coding.<a href="#">Read more</a>
     </li>
   </ul>
   </div>
</div>
<div class="apply-btn">
  <button type="button" class="btn btn-primary">Apply</button>
</div>
</div>

<div class="company-details">
<div class="job-update">
  <h4><b>Android Developer</b></h4>
  <p>DEEPSPHERE AI INDIA PRIVATE LIMITED</p>
  <i class="fas fa-briefcase"></i><span>3-8 yrs</span><br>
  <i class="fas fa-rupee-sign"></i><span>4.50-8.00 LPA</span><br>
  <i class="fas fa-map-marker-alt"></i><span>Chennai</span>
  <p>Skills:<small>Android Application Development</small><small>Android Studio</small></p>
  <div class=Description>
   <p>Description:</p>
   <ul>
     <li>Android SDK,different versions of Android,how to deal with different screen sizes.</li>
     <li>RESTful APIs to connect Android applications to back-end services.</li>
     <li>Design applications around natural user interfaces "touch".<a href="#">Read more</a>
     </li>
   </ul>
   </div>
</div>
<div class="apply-btn">
  <button type="button" class="btn btn-primary">Apply</button>
</div>
</div>

<div class="company-details">
<div class="job-update">
  <h4><b>Python Developer</b></h4>
  <p>Meditab Software India Pvt Ltd</p>
  <i class="fas fa-briefcase"></i><span>0-4 yrs</span><br>
  <i class="fas fa-rupee-sign"></i><span>3.00-5.00 LPA</span><br>
  <i class="fas fa-map-marker-alt"></i><span>ahmedabad(Ghatlodia)</span>
  <p>Skills:<small>Dijango</small><small>MySQL</small><small>Python</small></p>
  <div class=Description>
   <p>Description:</p>
   <ul>
     <li>Participate in requirement analysis and brainstorming.</li>
     <li>Participate in design and implementation of the solutions.</li>
     <li>Managing CI/CD pipelines.<a href="#">Read more</a>
     </li>
   </ul>
   </div>
</div>
<div class="apply-btn">
  <button type="button" class="btn btn-primary">Apply</button>
</div>
</div>
<ul class="page-link text-center">
<li class="left-arrow">&#8592;</li>
<li class="active">1</li>
<li>2</li>
<li>3</li>
<li>4</li>
<li>5</li>
<li class="left-arrow">&#8594;</li>

</ul>
</div>
</div>
