/*body{
    background-image: url('../../assets/images/bgpg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
}*/
h1
{
    text-align: center;
    margin-top: 20px;
    
}
img
{
    margin-left: 550px;
    margin-bottom: 50px;
    margin-top: 50px;
}