.banner
{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(../../assets/images/banner.jpeg) ;  
    background-size:cover;
    background-position: fixed;
    color:#fff;
}
.banner h6
{
    padding:170px 0px 0px ;
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow:0 0 30px rgba(0, 0, 0, 0.5) ;
}
.search-job
{
    padding: 30px 0;
    margin:-50px 6% 50px;
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}
.search-job .form-control
{
    max-width:250px;
    display:inline-flex;
    margin:10px 5px ;
    border-radius: 0;
    box-shadow:none !important ;
    border:none !important;
}
.search-job .btn-primary
{
    border-radius: 0;
    box-shadow: none !important;
    border:none;
    display:inline-flex;
    margin: 5px;
    padding:5px 20px ;
}